.kep {
  border: black 2px solid;
}

.jobbra {
  float: right;
}

/* játek elosztó */

.jatek-eloszto {
  background-image: url("forrasok/kepek/eloszto-hatter.png");
  background-size: 200px;
  margin-top: 20;
}
.eloszto:link {
  text-decoration: none;
}
.eloszto:visited {
  text-decoration: none;
}
.eloszto:active {
  text-decoration: none;
  opacity: 0.9;
}
.eloszto:hover {
  text-decoration: none;
}
.overlay:hover {
  opacity: 0.5;
}
.overlay {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  height: 100%;
  width: 100%;
  transition: ease-in 0.2s;
  background-color: #007d81;
  opacity: 0;
  border: black solid 2.5px;
  border-radius: 5px;
}
.megjeleno-szoveg {
  color: rgb(255, 255, 255);
  font-size: 25px;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  text-align: center;
  font-family: cursive;
  border: black 3px solid;
  border-radius: 5px;
  background-color: black;
}

.jatek-nev {
  text-align: center;
  font-family: "TheGoodMonolith", sans-serif;
}

.hatter-index{
  background-image: url(forrasok/kepek/index-hattere.jpg);
}
.fooldal-eloszto{
  margin-top: 5em;
  margin-right: 1em;
  margin-right: 0,5em;
}
.kártya-szöveg{
  font-family: "TheGoodMonolith", sans-serif;
}
.card-title {
  font-family: "TheGoodMonolith", sans-serif;
}
.eloszto-kep{
  height: 380px;
}
.bevezető-szöveg{
  font-family: "TheGoodMonolith", sans-serif;
  text-align: center;
  color: white;
  margin-top: 1em;
  background-color: rgba(0, 0, 0, 0.524);
}
.menza-hatter {
  height: 100vh;
  background-image: url(https://img.itch.zone/aW1nLzUwMDIzNDMucG5n/original/pzoneM.png);
  }
  .nav-elhely {
  width: 100%;
  position: absolute;
  }
  .menza-hasab {
  height: 100vh;
  background-color: white;
  }

